* {
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  text-align: center;
  background-color: aqua;
  padding: 20px;
  margin: 0 0 5px 0;
}

.question-card {
  position: relative;
  background-color: antiquewhite;
  border: 5px solid brown;
  border-radius: 10px;
  margin: 15px 30px;
  padding: 20px;
  box-shadow: 10px 10px 2px 0px #000000;
}

.question {
  font-size: 1.5em;
}

.answer {
  background-color: coral;
  height: 50px;
  width: 120px;
  font-size: large;
  font-family: initial;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.answer:hover {
  background-color: brown;
}

.tag {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  font-size: smaller;
}

.tag-style {
  background-color: gray;
  padding: 5px 14px;
  border-radius: 5px;
}

.bookmark-style {
  position: absolute;
  top: -10px;
  right: 0px;
  border: none;
  background-color: transparent;
}

.bookmark-style:hover {
  transform: scale(1.1);
}

footer {
  background-color: aqua;
  padding: 20px;
  margin: 5px 0 0 0;
}

.footer_menue {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.footer-link:hover {
  transform: scale(1.2);
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
  margin: 20px 100px 0 80px;
}

.about-me {
  margin: 100px;
  text-align: left;
}

.counter {
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.2em;
}

.settings {
  margin: 100px;
  text-align: left;
}

.switch-button {
  background-color: transparent;
  border: 0;
}

.dark-style-div {
  margin: 0 0 0 90px;
  display: flex;
  font-size: 20px;
  position: absolute;
  left: 0;
  gap: 10px;
}
