.avatar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
  margin: 5vh 20vh 0 15vh;
}

.about-me {
  margin: 20vh;
  text-align: left;
}

.counter {
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.2em;
}

.settings {
  margin: 0 20vh 20vh 20vh;
  text-align: left;
}

.switch-button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  stroke: black;
}

.switch-button--dark {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  transform: rotate(0.5turn);
  stroke: hotpink;
}

.switch-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
