.bookmark__style {
  position: absolute;
  right: 0px;
  top: -10px;
  border: none;
  background-color: transparent;
  fill: black;
  stroke: black;
  stroke-width: 3px;
}

.bookmark--style-fill {
  position: absolute;
  right: 0px;
  top: -10px;
  border: none;
  background-color: transparent;
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.bookmark--style:hover {
  transform: scale(1.1);
}
