.answer {
  background-color: var(--coral);
  height: 50px;
  width: 120px;
  font-size: large;
  font-family: initial;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.answer:hover {
  background-color: var(--brown);
}
